:root {
  --color-neutral: 205, 205, 205;
  --color-neutral-50: 251, 146, 60;
  --color-neutral-100: 226, 226, 226;
  --color-neutral-200: 188, 188, 188;
  --color-neutral-300: 150, 150, 150;
  --color-neutral-400: 111, 111, 111;
  --color-neutral-500: 73, 73, 73;
  --color-neutral-600: 53, 53, 53;
  --color-neutral-700: 20, 20, 20;
  --color-neutral-800: 12, 12, 12;
  --color-neutral-900: 0, 0, 0;
  --color-primary-50: 255, 247, 237;
  --color-primary-100: 255, 237, 213;
  --color-primary-200: 254, 215, 170;
  --color-primary-300: 253, 186, 116;
  --color-primary-400: 251, 146, 60;
  --color-primary-400: 135, 169, 247;
  --color-primary-500: 249, 115, 22;
  --color-primary-600: 234, 88, 12;
  --color-primary-700: 194, 65, 12;
  --color-primary-800: 154, 52, 18;
  --color-primary-900: 124, 45, 18;
  --color-secondary-50: 225, 225, 225;
  --color-secondary-100: 187, 187, 187;
  --color-secondary-200: 149, 149, 149;
  --color-secondary-300: 111, 111, 111;
  --color-secondary-400: 251, 146, 60;
  --color-secondary-500: 255, 247, 237;
  --color-secondary-600: 251, 146, 60;
  --color-secondary-700: 0, 0, 0;
  --color-secondary-800: 0, 0, 0;
  --color-secondary-900: 0, 0, 0;
}
