{{- if .Site.Params.giscus.repo }}
    <script src="https://giscus.app/client.js"
        data-repo={{ .Site.Params.giscus.repo }}
        data-repo-id={{ .Site.Params.giscus.repo_id }}
        data-category={{ .Site.Params.giscus.category }}
        data-category-id={{ .Site.Params.giscus.category_id }}
        data-mapping={{ .Site.Params.giscus.mapping }}
        data-reactions-enabled={{ .Site.Params.giscus.reactions_enabled | default 0}}
        data-emit-metadata={{ .Site.Params.giscus.emit_metadata | default 0 }}
        data-theme={{ .Site.Params.giscus.theme }}
        data-lang={{ .Site.Params.giscus.lang }}
        crossorigin="anonymous"
        async>
    </script>
{{- end }}

<!-- <script src="https://giscus.app/client.js" data-repo="tonkatsuki/tonkatsuki-blog" data-repo-id="R_kgDOM_JEXw" -->
<!--     data-category="Giscus" data-category-id="DIC_kwDOM_JEX84Cj8pk" data-mapping="pathname" data-strict="0" -->
<!--     data-reactions-enabled="1" data-emit-metadata="0" data-theme="dark" data-lang="en" -->
<!--     crossorigin="anonymous" async> -->
<!--     </script> -->
